{% extends 'bd/layout.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'bd/css/izbr.css' %}">
{% endblock %}
 {% block title %}Мои курсы{% endblock %}

{% block content %}
<div class="fir">
<h1>{{ name }}</h1>
    {% if my_courses == 0 %}
        <p>{{ description }}</p>
    {% else %}
<div class="izbr">
    {% for el in my_courses %}
          <div class="row_container">
              <div class="row"><h3>{{ el.header }}</h3></div>
              <div class="row"><h4>{{ el.description }}</h4></div>
              <a href="{% url 'course_only' el.id %}"><button>Читать далее</button></a>
              <a href="{% url 'update_course' el.id %}"><button>Редактировать</button></a>
              <a href="{% url 'delete_entry' el.id %}"><button>Удалить</button></a>
         </div>
    {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}