{% extends 'bd/layout.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'bd/css/izbr.css' %}">
{% endblock %}
 {% block title %}Избранное{% endblock %}

{% block content %}
<div class="fir">
<h1>{{ name }}</h1>
    {% if favorite_courses == 0 %}
        <p>{{ description }}</p>
    {% else %}
<div class="izbr">
    {% for el in favorite_courses %}
          <div class="row_container">
              <div class="row"><h3>{{ el.header }}</h3></div>
              <div class="row"><h4>{{ el.description }}</h4></div>
              <a href="{% url 'course_only' pk=el.id %}"><button>Читать далее</button></a>

         </div>
    {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}